#cart-count{

    margin-top:4px;

    background:#B77C67;

    color:white;

    border-radius:20px;

    padding:2px 8px;

    font-size:12px;

}

/* =========================
   Cart Panel
========================= */

#cart-panel{

    position:absolute;

    left:0;

    right:0;

    bottom:0;

    background:white;

    padding:25px;

    border-radius:25px 25px 0 0;

    box-shadow:0 -10px 30px rgba(0,0,0,.2);

    max-height:70%;

    overflow-y:auto;

}

.hidden{

    display:none;

}

.cart-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 0;

    border-bottom:1px solid #eee;

}

.quantity{

    display:flex;

    align-items:center;

    gap:10px;

}

.quantity button{

    width:28px;

    height:28px;

    border:none;

    border-radius:50%;

    background:var(--primary-light);

    cursor:pointer;

}

.remove{

    border:none;

    background:none;

    color:red;

    cursor:pointer;

}